[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
sqlalchemy-serializer = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"